body{
    display: flex;
    justify-content: center;
    background-color: #2B3467;
    flex-direction: column;
    align-items: center;
}

#div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
canvas {
    border: 2px solid white;
}

h1 {
    font-family: 'Silkscreen', cursive;
    font-size: 60px;
}

h2{
  font-size: 40px;
  font-family: 'Silkscreen', cursive;
}


h3{
  font-family: 'Silkscreen', cursive;
}

#restart{
  margin-top: -300px;
}


#new-game{
  margin-top: -650px;
}

button{
    position: fixed;
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-family: 'Silkscreen';
    letter-spacing: 2px;
    
}

footer{
    margin-top: 30px;
}

#leaderboard {
  font-family: 'Silkscreen';
}

tr{
  padding-top: 10px;
}

.github{
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
    color: #fff;
}

#leaderboard{
  margin-top: 30px;
}

.github:visited {
color: black;
}

.git{
    width: 20px;
    height: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Silkscreen', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "START";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
  background: #fff;
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
